<div class="container">
  <div class="well well-lg">
    <h2>Results</h2>

    <ul>
      <% @results.each do |result| %>
      <li><%= result.placing %> - <%= result.race %> - <%= result.location %> - <%= result.year %></li>
      <% end %>
    </ul>
  </div>
</div>
