<div class="container">
  <h2>Results</h2>
</div>

<div class="container">
  <ul>
    <% @results.each do |result| %>
      <li><%= result.placing %> - <%= result.race %> - <%= result.location %> - <%= result.year %></li>
    <% end %>
  </ul>
</div>
