<div class="container">
  <div class="well">

    <h2>Resume</h2>

    <img src="https://1.bp.blogspot.com/-q7qcivY-X9k/V7qEipnPmSI/AAAAAAAAFe8/MbEaHNeYYqsSsgQdmA1LS8LnnhKmPz30QCLcB/s320/1187306_10151898735237065_1314364430_n.jpg" class="img-responsive center-block">
    <div class="centered-header">

      <h2>Colin Osborn</h2>
      <h3>970.618.1212  | Carbondale, CO 81623 | Colin.Osborn@gmail.com</h3>
      <h3><em>Software Development ~ Web Design ~ Branding </em></h3>
    </div>

  </div>
</div>
