<div class="container">
  <div class="well">

    <h2>Resume</h2>

    <img src="https://1.bp.blogspot.com/-q7qcivY-X9k/V7qEipnPmSI/AAAAAAAAFe8/MbEaHNeYYqsSsgQdmA1LS8LnnhKmPz30QCLcB/s320/1187306_10151898735237065_1314364430_n.jpg" class="img-responsive center-block">
    <div class="centered-header">
      <h2>Colin Osborn</h2>
      <h3>970.618.1212  | Carbondale, CO 81623 | Colin.Osborn@gmail.com</h3>
      <h3><em>Software Development ~ Web Design ~ Branding </em></h3>
    </div>
    <div class="qualifications">
      <h3>QUALIFICATIONS PROFILE</h3>
      <ul>
        <li>Motivated, deadline-focused professional offering exemplary talents in communications, sponsorship programs, tradeshow execution, sales, contract management, and negotiations</li>
        <li>Programming skills with proficiency in Ruby, Ruby on Rails, HTML/CSS, JavaScript, JQuery all with Agile Methodologies</li>
        <li>Highly capable marketing professional with expertise in implementing customer-focused marketing plans, sales initiatives and SEO</li>
        <li>Adept at working within high-pressure environments; proactively foster cooperative relationships with key stakeholders to accomplish goals</li>
      </ul>
    </div>
    <div class="honors">
      <h3>HONORS AND EDUCATION</h3>
      <ul>
        <li>Turing School of Software and Design, Denver CO</li>
        <li>President’s List, 4.0 GPA Spring ‘15 Computer Programming Colorado Mountain College</li>
        <li>Former Member of USA Cycling Under 23 National Mountain Bike Team</li>
        <li>Exercise Science/Foreign Languages, Fort Lewis College, Durango, CO</li>
      </ul>
    </div>
    <div class="experience">
      <h3>PROFESSIONAL EXPERIENCE</h3>
      <h4><strong>Marketing/Sponsorship Coordinator</strong> Honey Stinger, Carbondale/Steamboat Springs, CO 2010-2014</h4>
      <ul>
        <li>Collaboratively manages marketing activities for Honey Stinger products and promotions</li>
        <li>Optimizes marketing direction and decision-making by brainstorming and executing PR initiatives, events, and orders</li>
        <li>Builds key relationships with superior communication skills and attention to detail </li>
        <li>Adeptly handles critical event management duties, e.g. race registrations and timing</li>
        <li>Successfully creates and manages nationwide grassroots sponsorship program</li>
        <li>Skillfully manages Honey Stinger/Bontrager mountain bike race team</li>
        <li>Enhances company exposure through effective/management of social media networks, e.g. Instagram, Facebook, Twitter, YouTube, and Google+</li>
      </ul>
      <h4><strong>Marketing Coordinator</strong> Big Agnes, Carbondale/Steamboat Springs, CO 2010-2011</h4>
      <ul>
        <li>Optimizes marketing direction and decision-making by brainstorming and executing PR initiatives, events, and samples</li>
        <li>Adeptly assisted with and offered insight into product development and technical features </li>
      </ul>
    </div>
  </div>
</div>
